[submodule "Plugin/Tools"]
	path = Plugin/Tools
	url = https://github.com/dereuromark/tools.git
[submodule "Plugin/Authenticate"]
	path = Plugin/Authenticate
	url = https://github.com/FriendsOfCake/Authenticate.git
[submodule "Plugin/Setup"]
	path = Plugin/Setup
	url = https://github.com/dereuromark/setup.git
[submodule "Plugin/Geshi"]
	path = Plugin/Geshi
	url = https://github.com/markstory/cakephp_geshi.git
