/tmp
/config/database.php
/config/configs_private.php
/config/email.php
_*
/files/wkhtmltopdf
/vendor/
/logs
/config/app_local.php
/phpunit.phar
/composer.phar
/phpstan.phar

/.idea
/npm-debug.log
/webroot/assets
/webroot/js/cjs
/webroot/css/ccss
/webroot/css/fonts
/webroot/coverage/
/config/Migrations/schema-dump-default.lock
/node_modules/
.phpunit.result.cache
