/tmp
/Config/database.php
/Config/configs_private.php
/Config/email.php
_*
/files/wkhtmltopdf
/Plugin/DebugKit
/Plugin/AssetCompress
/Plugin/Authenticate
/Plugin/CakePdf
/Plugin/Data
/Plugin/Datasources
/Plugin/Geshi
/Plugin/Search
/Plugin/Setup
/Plugin/Tools
/composer.lock
/Vendor/composer/*
/Vendor/nesbot/carbon
/Vendor/autoload.php
/Vendor/bin
/Vendor/cakephp
/Plugin/Upgrade
/Vendor/geshi
/Vendor/kzykhys
/Vendor/symfony
/Vendor/dereuromark
/Vendor/phpunit
/Plugin/Shim
