/tmp
/config/database.php
/config/configs_private.php
/config/email.php
_*
/files/wkhtmltopdf
/vendor/
/logs
/config/app_local.php
/phpunit.phar
/.idea
/webroot/assets
/webroot/js/cjs
/webroot/css/ccss
