includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 8

	paths:
		- src/
		- plugins/Sandbox/src/
		- plugins/AuthSandbox/src/

	checkMissingIterableValueType: false

	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tmp/CodeCompletionCakeORM.php

	excludes_analyse:
		- %rootDir%/../../../src/Console/Installer.php
		- %rootDir%/../../../src/Error/ErrorHandler.php
		- %rootDir%/../../../src/Error/Middleware/ErrorHandlerMiddleware.php

	ignoreErrors:
		- '#Constant \w+ not found\.#'
		- '#Access to an undefined property .+SandboxCategory::\$.+.#'
		- '#Cannot cast array\|string\|null to string#'
		- '#Call to an undefined method .+Mailer::set.+#'
