includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 8

	checkGenericClassInNonGenericObjectType: false
	treatPhpDocTypesAsCertain: false

	paths:
		- src/
		- plugins/Sandbox/src/
		- plugins/AuthSandbox/src/
		- plugins/StateMachineSandbox/src/

	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tmp/CodeCompletionCakeORM.php

	excludePaths:
		- %rootDir%/../../../src/Console/Installer.php
		- %rootDir%/../../../src/Error/ErrorHandler.php
		- %rootDir%/../../../src/Error/Middleware/ErrorHandlerMiddleware.php

	ignoreErrors:
		- '#Constant \w+ not found\.#'
		- '#Access to an undefined property .+SandboxCategory::\$.+.#'
		- '#Call to an undefined method .+Mailer::set.+#'
		- '#Access to an undefined property Cake\\ORM\\BehaviorRegistry::\$.+#'
