includes:
	- vendor/cakedc/cakephp-phpstan/extension.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/rector/type-perfect/config/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8

	treatPhpDocTypesAsCertain: false

	paths:
		- src/
		- plugins/Sandbox/src/
		- plugins/AuthSandbox/src/
		- plugins/StateMachineSandbox/src/

	bootstrapFiles:
		- %rootDir%/../../../config/bootstrap.php
		- %rootDir%/../../../vendor/dereuromark/cakephp-tools/config/bootstrap.php

	excludePaths:
		- %rootDir%/../../../src/Console/Installer.php

	type_perfect:
		no_mixed_property: true
		no_mixed_caller: true
		null_over_false: true
	strictRules:
		disallowedLooseComparison: false
		booleansInConditions: false
		booleansInLoopConditions: false
		uselessCast: false
		requireParentConstructorCall: false
		disallowedBacktick: false
		disallowedEmpty: false
		disallowedImplicitArrayCreation: true
		disallowedShortTernary: false
		overwriteVariablesWithLoop: true
		closureUsesThis: false
		matchingInheritedMethodNames: true
		numericOperandsInArithmeticOperators: false
		strictFunctionCalls: true
		dynamicCallOnStaticMethod: true
		switchConditionsMatchingType: false
		noVariableVariables: false
		strictArrayFilter: true
		illegalConstructorMethodCall: true

	ignoreErrors:
		- identifier: missingType.generics
		- identifier: missingType.iterableValue
		- identifier: method.internalClass
		- '#Constant \w+ not found\.#'
		- '#Access to an undefined property .+SandboxCategory::\$.+.#'
		- '#Call to an undefined method .+Mailer::set.+#'
		- '#Access to an undefined property Cake\\ORM\\BehaviorRegistry::\$.+#'
		- '#Dead catch - .+RecordNotFoundException is never thrown in the try block.#'
