<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd">
	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
		<!-- E_ALL => 32767 -->
		<!-- E_ALL & ~E_USER_DEPRECATED => 16383 -->
		<ini name="error_reporting" value="32767"/>
	</php>

	<testsuites>
		<testsuite name="app">
			<directory>tests/TestCase/</directory>
		</testsuite>
		<!-- Add plugin test suites here. -->
		<testsuite name="sandbox">
			<directory>plugins/Sandbox/tests/TestCase/</directory>
		</testsuite>
		<testsuite name="auth-sandbox">
			<directory>plugins/AuthSandbox/tests/TestCase/</directory>
		</testsuite>
		<testsuite name="state-machine-sandbox">
			<directory>plugins/StateMachineSandbox/tests/TestCase/</directory>
		</testsuite>
	</testsuites>

	<extensions>
		<bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
	</extensions>

	<source>
		<include>
			<directory suffix=".php">src/</directory>
			<directory suffix=".php">plugins/Sandbox/src/</directory>
			<directory suffix=".php">plugins/AuthSandbox/src/</directory>
			<directory suffix=".php">plugins/StateMachineSandbox/src/</directory>
		</include>
	</source>
</phpunit>
