#header {
	margin-top: 20px;
}

#navigation {
	padding-right: 20px;
}

div.error-message {
	color: red;
	padding-bottom: 10px;
}

progress, meter {
	width: 100%;
}


/* custom bootstrap overwrites */


h3, .h3 {
	font-size: 1.6rem;
}

h4 .h4 {
	font-size: 1.4rem;
}

input[type="submit"], button, .button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #CCCCCC #CCCCCC #B3B3B3;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

div.input {
  margin-bottom: 10px;
}

.form-control.day, .form-control.month, .form-control.year, .form-control.hour, .form-control.minute, .form-control.second {
	width: auto;
}

div.date select.form-control {
	width: auto;
}

.form-group.date select.form-control,
.form-group.time select.form-control,
.form-group.datetime select.form-control {
	width: auto;
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 2px;
}

/* bootstrap end */

th > a.asc:after {
	content: " \f0dd";
	font-family: FontAwesome;
}
th > a.desc:after {
	content: " \f0de";
	font-family: FontAwesome;
}

a {
	color: #337ab7;
}

ul.side-nav {
	margin-top: 20px;
	margin-bottom: 20px;
}

ul.side-nav li.heading {
	font-weight: bold;
}

ul.side-nav li a.active {
	color: orange;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.well {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin-bottom: 10px;
}

.code-snippet {
	padding: 9.5px;
	margin: 0 0 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p {
	display: inline;
}


/** Shimming BS4 */
.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
	.badge {
		transition: none
	}
}

a.badge:hover,a.badge:focus {
	text-decoration: none
}

.badge:empty {
	display: none
}

.btn .badge {
	position: relative;
	top: -1px
}

.badge-pill {
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem
}

.badge-primary {
	color: #fff;
	background-color: #007bff
}

a.badge-primary:hover,a.badge-primary:focus {
	color: #fff;
	background-color: #0062cc
}

a.badge-primary:focus,a.badge-primary.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5)
}

.badge-secondary {
	color: #fff;
	background-color: #6c757d
}

a.badge-secondary:hover,a.badge-secondary:focus {
	color: #fff;
	background-color: #545b62
}

a.badge-secondary:focus,a.badge-secondary.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5)
}

.badge-success {
	color: #fff;
	background-color: #28a745
}

a.badge-success:hover,a.badge-success:focus {
	color: #fff;
	background-color: #1e7e34
}

a.badge-success:focus,a.badge-success.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5)
}

.badge-info {
	color: #fff;
	background-color: #17a2b8
}

a.badge-info:hover,a.badge-info:focus {
	color: #fff;
	background-color: #117a8b
}

a.badge-info:focus,a.badge-info.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5)
}

.badge-warning {
	color: #212529;
	background-color: #ffc107
}

a.badge-warning:hover,a.badge-warning:focus {
	color: #212529;
	background-color: #d39e00
}

a.badge-warning:focus,a.badge-warning.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5)
}

.badge-danger {
	color: #fff;
	background-color: #dc3545
}

a.badge-danger:hover,a.badge-danger:focus {
	color: #fff;
	background-color: #bd2130
}

a.badge-danger:focus,a.badge-danger.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5)
}

.badge-light {
	color: #212529;
	background-color: #f8f9fa
}

a.badge-light:hover,a.badge-light:focus {
	color: #212529;
	background-color: #dae0e5
}

a.badge-light:focus,a.badge-light.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5)
}

.badge-dark {
	color: #fff;
	background-color: #343a40
}

a.badge-dark:hover,a.badge-dark:focus {
	color: #fff;
	background-color: #1d2124
}

a.badge-dark:focus,a.badge-dark.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5)
}
