#header {
	margin-top: 20px;
}

#navigation {
	padding-right: 20px;
}

div.error-message {
	color: red;
	padding-bottom: 10px;
}

progress, meter {
	width: 100%;
}


/* custom bootstrap overwrites */


h3, .h3 {
	font-size: 1.6rem;
}

h4 .h4 {
	font-size: 1.4rem;
}

input[type="submit"], button, .button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #CCCCCC #CCCCCC #B3B3B3;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

div.input {
  margin-bottom: 10px;
}

input[type=checkbox] {
	width: auto;
	height: auto;
}

.form-control.day, .form-control.month, .form-control.year, .form-control.hour, .form-control.minute, .form-control.second {
	width: auto;
}

div.date select.form-control {
	width: auto;
}

.form-group.date select.form-control,
.form-group.time select.form-control,
.form-group.datetime select.form-control {
	width: auto;
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 2px;
}

/* bootstrap end */

th > a.asc:after {
	content: " \f0dd";
	font-family: FontAwesome;
}
th > a.desc:after {
	content: " \f0de";
	font-family: FontAwesome;
}

a {
	color: #337ab7;
}

ul.side-nav {
	margin-top: 20px;
	margin-bottom: 20px;
}

ul.side-nav li.heading {
	font-weight: bold;
}

ul.side-nav li a.active {
	color: orange;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.well {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin-bottom: 10px;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
