#header {
	margin-top: 70px;
}

#navigation {
	padding-right: 20px;
}

div.error-message {
	color: red;
	padding-bottom: 10px;
}



/* custom bootstrap overwrites */

input[type="submit"], button, .button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #CCCCCC #CCCCCC #B3B3B3;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

div.input {
  margin-bottom: 10px;
}

input[type=checkbox] {
	width: auto;
	height: auto;
}

.form-control.day, .form-control.month, .form-control.year, .form-control.hour, .form-control.minute, .form-control.second {
	width: auto;
}

div.date select.form-control {
	width: auto;
}

/* boostrap end */

th > a.asc:after {
	content: " \f0dd";
	font-family: FontAwesome;
}
th > a.desc:after {
	content: " \f0de";
	font-family: FontAwesome;
}

ul.side-nav {
	margin-top: 20px;
	margin-bottom: 20px;
}

ul.side-nav li.heading {
	font-weight: bold;
}

ul.side-nav li a.active {
	color: orange;
}
