parameters:
	level: 1

	paths:
		- TestCase/
		- %rootDir%/../../../plugins/Sandbox/tests/TestCase/
		- %rootDir%/../../../plugins/AuthSandbox/tests/TestCase/

	checkMissingIterableValueType: false

	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tmp/CodeCompletionCakeORM.php
		- %rootDir%/../../../phpunit.phar

	ignoreErrors:
