parameters:
	autoload_files:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tmp/CodeCompletionCakeORM.php

	excludes_analyse:
		- %rootDir%/../../../src/Console/Installer.php
		- %rootDir%/../../../src/Error/ErrorHandler.php
		- %rootDir%/../../../src/Error/Middleware/ErrorHandlerMiddleware.php

	ignoreErrors:
		- '#Constant \w+ not found\.#'
		- '#Call to an undefined method .+ExposedUsersTable::getExposedKey\(\).#'
		- '#Access to an undefined property .+SandboxCategory::\$.+.#'
		- '#Access to protected property .+ServerRequest::\$data#'
		- '#Call to an undefined method .+Email::set.+#'
